<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    style
        include ../static/style.css
</head>
<body>
    <nav class="top" id="navbar" style=height:70px>
        <ul> 
        <div id="logo">
            <img src="/static/1.png">AD'A
        </div>
         <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/services">Services</a></li>
         <li><a href="/class">Class Info</a></li>
         <li><a href="/contact">Contact Us</a> </li>
        </ul>
    </nav>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style=background-color:black;color:white;>
        <div class="container">
          <marquee style=color:oldlace;><h1 class="display-3"><b><i>Aman's Dance Academy</i></b></h1></marquee>
          <p style=font-size:50px;font-family:'Lobster', cursive; ><b>Timing Of Dance Classes</p>
          <p style=font-size:26px;><i>Hip pop Classes: Morning 8 To 10 AM</i></p>
          <p style=font-size:26px;><i>Jazz Classes: Morning 10 To 12 AM</i></p>
          <p style=font-size:26px;><i>Belly Classes: Noon 3 To 4:30 PM</i></p>
          <p style=font-size:26px;><i>Kathak Classes: Evening 6 To 8 PM</i></p>
          <p style=font-size:26px;><i>Lyrical Classes: Night 9PM To 10PM</i></p>
          <marquee style=font-size:40px;color:honeydew;><b>Fill your detail and contact us on 7999862691</b></marquee>
         
          
        </div>
         <footer id="footer"style=color:white;>Copyright @ Aman's Dance Academy.com   All Right Reserverd </footer>
      </div>
    
   
</body>
</html>    